.question-container {
  width: 50vw;
  background-color: white;
  padding: 20px;
  margin: 20px 0;
  border: 1px solid #eee;
  border-left-width: 5px;
  border-radius: 3px;
  border-left-color: #1b809e;

  &.error{
    border-color: red;
  }
  h4 {
    display: inline;
  }
  .close-button {
    float: right;
  }
}